
*{
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: luminosity;
}

.container{
    display: flex;
    padding: 40px 30px 40px 30px;
    flex-direction: column;
    border: 3px solid rgb(37, 37, 37);
    border-radius: 2%;
    height: 750px;
    width: 500px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.calc-display {
    height: 15%;
    width: 100%;
    font-size: 2.2rem;
    border-width: 0px 5px 5px 5px;
    border-style:  solid;
    border-color: #002519;
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #868686;
}

.calc-topDisplay {
    height: 12%;
    width: 100%;
    font-size: 1.5rem;
    border-width: 5px 5px 0px 5px;
    border-style: solid;
    border-color: #002519;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    background-color:  #868686;
}

.calc-body{
    height: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    border: 2px solid #002519;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

.btn {
    width: 20%;
    height: 18%;
    font-size: 1.5em;
    background-color: #5F4444;
    color: white;
    border-radius: 10%;
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.85);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.btn:hover {
    background-color: #7A5252;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.85);
    transform: scale(0.96);
}

.btn:active {
    background-color: #7A5252;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
    transform: scale(0.93);
}

.btn-op {
    font-size: 2em;
    background-color: #016FB9;
}

.btn-op:hover {
    background-color: #0193F4;
}


.btn-eq {
    width: 42%;
    background-color: #0A8754;
    border-radius: 1rem;
    font-size: 2em;
} 

.btn-eq:hover {
    background-color: #0DAB6C ;
} 

#sign-change{
    font-size: 2em;
}

#allClear, #clearPrev{
    background-color: #A4031F;
}

#allClear:hover, #clearPrev:hover{
    background-color: #C80425;
}

.footer{
    padding-top: 20px;
    color:rgb(183, 183, 183); 
    font-size: 1em;
}


@media screen and (max-device-width: 480px) {
     .container{
        height: 525px;
        width: 325px;
     }

     .btn {
        font-size: 1em;
    }

    #sign-change{
        font-size: 1em;
    }

    .calc-body{
        padding-top: 2rem;
    }

    .calc-display {
        font-size: 1.5em;
        height: 3em;
    }
    
    .calc-topDisplay {
        font-size: 1em;
        height: 3.7em;
    }

    .footer{
        font-size: 0.7em;
    }
    
  }